@font-face {
  font-family: 'Amiri';
  src: url('assets/fonts/Amiri-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, * {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('assets/images/client_splash.png');
  color: black;
  font-family: 'Roboto Light', Calibri, sans-serif;
  font-size: 40px;
  padding: 10px;
}

h1 {
  font-family: 'Amiri', 'Roboto Light', Calibri, sans-serif;
  font-size: 1.5em;
}

#state {
  font-size: 0.5em;
  height: 200px;
  overflow-y: scroll;
  width: 100%;
}

#version {
  color: white;
  bottom: 5px;
  font-size: 20px;
  position: fixed;
  right: 5px;
}

.hidden {
  display: none;
}